<section>
  <h1>Felix Schäfer</h1>
  <ul class="about_me">
  <li>
    {% img center http://www.gravatar.com/avatar/e7163fb1754e975214671b25f62c7e63?s=250 Felix Schäfer %}
    <p>Geek. Singer. Confused.</p>
    <p>Student. <a href="https://plan.io/team/#felix">Ruby on Rails and Redmine specialist at Planio</a>.</p>
  </li>
  <li><p>Contact me <a class="email" href="http://www.google.com/recaptcha/mailhide/d?k=019ptcDbzoicvPv04Ka-1F2A==&c=DHev-fe4ZTyH_2c30-gAR2GBShBqSDAY31-d5jpllvc=">via e-mail</a>, <a class="twitter" href="https://twitter.com/intent/user?screen_name=thegcat">ping me on Twitter</a> or <a href="https://plus.google.com/103470456681788602053?rel=author">find me on G+</a>.</p></li>
  </ul>
</section>
