<section>
  <h1>Felix Schäfer</h1>
  <ul class="about_me">
  <li>
    {% img center http://www.gravatar.com/avatar/67e098797f4aa05760ca0f1091db7684?s=250 Felix Schäfer %}
    <p>Geek. Singer. Student. <a href="https://www.chiliproject.org/users/7">ChiliProject core contributor</a>. <a href="http://www.finn.de/about/team/#f.schaefer">ChiliProject and Ruby on Rails specialist at finnlabs</a>.</p>
  </li>
  <li><p>Contact me <a class="email" href="http://www.google.com/recaptcha/mailhide/d?k=01BHBGsTpXpIeVhoMUtPWiZw==&amp;c=qYF8BkwZ_G8op_s39t7kIr47y6PdTZQ7gJRabKZr7_M=">via e-mail</a>, <a class="twitter" href="https://twitter.com/intent/user?screen_name=thegcat">ping me on Twitter</a> or <a href="https://plus.google.com/103470456681788602053?rel=author">find me on G+</a>.</p></li>
  </ul>
</section>