<section>
  <h1>Meet me there!</h1>
  <ul class="upcoming_attendencies">
  <li>
    <a href='http://2014.eurucamp.org/' title='eurucamp 2014'>
    {% img center http://livingstyleguide.com/eurucamp/images/eurucamp-2014.svg 'eurucamp 2014' %}
    </a>
  </li>
  <li>
    <a href='http://2014.railscamp.de/' title='RailsCamp Germany 2014'>
    {% img center http://2014.railscamp.de/img/flame_icon.png 'RailsCamp Germany 2014' %}
    </a>
  </li>
  <li>
    <a href='http://www.baruco.org/' title='BaRuCo 2014'>
    {% img center http://assets2014-0.baruco.org/assets/logo_baruco-c626921a4173e397d6d6e841c029ff4e.svg 'BaRuCo 2014' %}
    </a>
  </li>
  </ul>
</section>


