// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {background: image-url('exclusive_paper.gif');}
body > header {background: none;}

dl.interview {
  dt {font-weight: bold;}
  dt:after {content: ":";}
  dd {margin-left: 1em;}}

article section.gallery {
  @include pie-clearfix;
  margin-bottom: 1.5em;}

span.update {font-style: italic;}

aside.sidebar img {margin-bottom: 0.5em !important;}

aside.sidebar ul.upcoming_attendencies {
  img {border: none; box-shadow: none;}
  a {white-space: normal;}}

@import "./slimbox2";
